@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --clr-blue: #148bd4;
  --clr-white: #fff;

  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

body {
  background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--clr-white);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding-bottom: 100px;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.filter-container {
  margin: 20px auto;
  width: 80vw;
  max-width: 800px;
}

.filter {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.album-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* position: absolute; */
}

.artwork {
  width: 100%;
  object-fit: cover;

  padding: 0 1.5rem;
  padding-top: 1.5rem;
}

.single-album {
  background-color: rgba(67, 23, 132, 0.216);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin: 20px 20px;
  position: relative;
}

.album-info {
  margin-left: 1rem;
}

.album-info .album-title {
  line-height: 1.3;
}

.artwork-wrapper {
  text-align: center;
}

.play-button-wrapper {
  text-align: center;
  margin-top: -20px;
}

.single-album .album-container {
  /* position: relative; */
  margin: 1rem auto;
}

.single-album .album-play {
  font-size: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid var(--clr-blue);
  background: var(--clr-white);
  color: var(--clr-blue);
  cursor: pointer;
  text-align: center;
  /* transform: translate(-50%, 50%); */
}

.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  transition: opacity 0.3s ease-in;
}

.loader.show {
  opacity: 1;
}

.circle {
  background-color: var(--clr-white);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Controller bar */
.music-container {
  background-color: var(--clr-white);
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px;
  position: fixed;
  top: 85%;
  z-index: 10;
  opacity: 0;
}

.music-container.show {
  opacity: 1;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: var(--clr-white);
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: var(--clr-white);
  border: 0;
  color: var(--clr-blue);
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: var(--clr-blue);
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: var(--clr-white);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

@media screen and (max-width: 962px) {
  .album-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .artwork {
    /* width: 100%; */
    width: 230px;
    height: 230px;
  }
}

@media screen and (max-width: 562px) {
  .album-list {
    grid-template-columns: 1fr;
  }

  .artwork {
    /* width: 100%; */
    max-width: 300px;
    max-height: 300px;
  }

  .album-info {
    margin-left: 0;
    text-align: center;
  }

  .single-album .album-play {
    padding: 2px;
  }

  .music-container {
    width: 100%;
    padding: 10px 10px;
  }

  .img-container {
    width: 80px;
  }

  .img-container img {
    height: 80px;
  }

  .img-container::after {
    opacity: 0;
  }
}